extends layout.pug

block content
    div.container
        div.row
            div.col
                h2 Welcome #{fname}
                P Have a look at  your submitted data
        
        div.row
            div.col-md-6
                table.table.table-bordered
                    thead.bg-secondary.text-white
                        tr
                            th Field name
                            th Submitted data
                    tbody.bg-light
                        tr
                            td First name:
                            td #{fname}
                        tr
                            td Last name:
                            td #{lname}
                        tr
                            td Email address:
                            td #{email}                      
                        tr
                            td Gender:
                            td #{gender} 
                        tr
                            td Country:
                            td #{country}               
                        tr
                            td City:
                            td #{city}
                        tr
                            td Password:
                            td #{password}
                        
                            