extends layout
block content
 
    div.row.justify-content-center

        div.card   
            header.card-header

                div.form-row
                    div.col-md-9.form-group 
                        h4.card-title Registered users
                        b Hello #{currentUser.firstname}  
                
                    div.col-md-2.form-group    
                        form.my-2(method="post" action='/logout')
                            button.btn.btn-outline-danger.btn-block(type="submit") Log out
   

            article.card-body
                table.table
                    thead.thead-dark
                        tr 
                            th Firstname
                            th Lastname
                            th Emailaddress
                            th Gender
                            th City
                            th Country
                            //- th Password
                        tbody
                            //- iteration method 
                            each user in users
                                tr
                                    td #{user.firstname}
                                    td #{user.lastname}
                                    td #{user.emailaddress}
                                    td #{user.gender}
                                    td #{user.city}
                                    td #{user.country}
                                    //- td #{user.password}
