extends layout
block content
    header.card-header
        h4.card-title Registered users
    table.table
        thead.thead-dark
            tr 
                th Firstname
                th Lastname
                th Emailaddress
                th City
                th Country
            tbody
                each user in users
                    tr
                        td #{user.firstname}
                        td #{user.lastname}
                        td #{user.emailaddress}
                        td #{user.city}
                        td #{user.country}
